// Fontes
$fontPrincipal:Roboto, sans-serif;

// Esquema de cores
$corDeFundo:#f5f6fa;
$corBotao:#44bd32;
$corSecundaria:#00d2d3;
$corHeader:#182C61;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;
